body {
  font-family: Arial, sans-serif;
  background-image: url('fondo.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  color: #ffffff;
}

h1 {
  text-align: center;
  margin-top: 20px;
  color: #ffffff;
  font-size: 3em;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

#codigo-input {
  display: block;
  margin: 20px auto;
  padding: 15px;
  font-size: 16px;
  border: none;
  border-radius: 25px;
  width: 300px;
  text-align: center;
}

#validar-codigo {
  display: block;
  margin: 0 auto;
  padding: 15px 30px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 25px;
  background: linear-gradient(145deg, #6e7bff, #a0b4ff);
  color: white;
  transition: all 0.3s ease;
}

#validar-codigo:hover {
  background: linear-gradient(145deg, #5a69d6, #8fa3e1);
}

#validation-time {
  text-align: center;
  font-size: 1.2em;
  margin-top: 20px;
  color: rgb(138, 255, 5);
}

/* Contenedor de las raspaditas */
#cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Siempre 3 columnas */
  grid-template-rows: repeat(3, auto); /* Siempre 3 filas */
  gap: 10px; /* Espaciado entre tarjetas */
  justify-content: center;
  align-items: center;
  max-width: 450px; /* Para evitar que se deforme */
  margin: 20px auto;
}

.card {
  position: relative;
  width: 130px;
  height: 60px;
  border: 4px solid #191b25;
  box-shadow: 0 0 10px rgb(229, 6, 6);
  border-radius: 14px;
  overflow: hidden;
  background: #fff;
}

.scratch-canvas {
  width: 100%;
  height: 100%;
}

.prize {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 15px;
}

.hidden {
  visibility: hidden;
}

/* Mensaje de victoria o derrota */
.message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5em;
  font-weight: bold;
  color: #FFD700;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 1s, transform 1s;
}

/* RESPONSIVE para celulares */
@media (max-width: 480px) {
  #cards-container {
    max-width: 390px;
    gap: 5px;
  }

  .card {
    width: 120px;
    height: 55px;
  }
}
